.u-section-1 .u-sheet-1 {
  min-height: 77px;
}

.u-section-1 .u-image-1 {
  width: 271px;
  height: 41px;
  margin: 18px auto 0 0;
}

.u-section-1 .u-btn-1 {
  margin: -41px 0 0 auto;
  padding: 7px 30px 8px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: -40px 131px 0 auto;
  padding: 7px 18px 8px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: -41px 276px 18px auto;
  padding: 7px 18px 8px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
    margin-right: 76px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 15px;
    margin-left: auto;
    margin-bottom: 21px;
  }
} .u-section-2 {
  background-image: url("../images/blob-scene-haikei.svg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 436px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 86px;
  margin: 126px auto 0;
}

.u-section-2 .u-text-1 {
  width: 583px;
  margin: 12px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 360px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 69px;
    margin-right: 69px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 82px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 173px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 52px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 510px;
}

.u-section-3 .u-text-1 {
  margin: 34px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 0 auto;
}

.u-section-3 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 59px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 20px 20px;
  grid-auto-columns: calc(33.3333% - 13.3333px);
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 316px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: -2px 0 40px 0 rgba(0,0,0,0.1);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-3 .u-container-layout-1 {
  padding: 9px 10px;
}

.u-section-3 .u-image-1 {
  height: 173px;
  margin: 1px 0 0;
}

.u-section-3 .u-icon-1 {
  width: 95px;
  height: 95px;
  margin: -134px auto 0;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 59px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 11px 15px 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: -2px 0 40px 0 rgba(0,0,0,0.1);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-3 .u-container-layout-2 {
  padding: 9px 10px;
}

.u-section-3 .u-image-2 {
  height: 173px;
  margin: 1px 0 0;
}

.u-section-3 .u-icon-2 {
  width: 95px;
  height: 95px;
  margin: -134px auto 0;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 59px auto 0;
}

.u-section-3 .u-text-6 {
  margin: 11px 15px 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: -2px 0 40px 0 rgba(0,0,0,0.1);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-3 .u-container-layout-3 {
  padding: 9px 10px;
}

.u-section-3 .u-image-3 {
  height: 173px;
  margin: 1px 0 0;
}

.u-section-3 .u-icon-3 {
  width: 95px;
  height: 95px;
  margin: -134px auto 0;
  padding: 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 59px auto 0;
}

.u-section-3 .u-text-8 {
  margin: 11px 15px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 13.3333px);
    min-height: 259px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
  }

  .u-section-3 .u-image-1 {
    height: 141px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -102px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 141px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -102px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 141px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -102px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 9.999975px);
    min-height: 624px;
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
  }

  .u-section-3 .u-image-1 {
    height: 163px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -124px;
  }

  .u-section-3 .u-image-2 {
    height: 163px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -124px;
  }

  .u-section-3 .u-image-3 {
    height: 163px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -124px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 249px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -210px;
  }

  .u-section-3 .u-image-2 {
    height: 249px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -210px;
  }

  .u-section-3 .u-image-3 {
    height: 249px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -210px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 153px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -114px;
  }

  .u-section-3 .u-image-2 {
    height: 153px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -114px;
  }

  .u-section-3 .u-image-3 {
    height: 153px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -114px;
  }
}

.u-section-3 .u-list-item-1,
.u-section-3 .u-list-item-1:before,
.u-section-3 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-2,
.u-section-3 .u-list-item-2:before,
.u-section-3 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-3,
.u-section-3 .u-list-item-3:before,
.u-section-3 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}