.u-section-1 .u-sheet-1 {
  min-height: 78px;
}

.u-section-1 .u-image-1 {
  width: 271px;
  height: 41px;
  margin: 18px auto 0 0;
}

.u-section-1 .u-btn-1 {
  margin: -41px 0 0 auto;
  padding: 7px 30px 8px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: -40px 131px 0 auto;
  padding: 7px 18px 8px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: -41px 276px 0 auto;
  padding: 7px 18px 8px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  margin: -40px 407px 20px auto;
  padding: 6px 18px 7px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 76px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 207px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 15px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-4 {
    margin-bottom: 60px;
  }
} .u-section-2 {
  background-image: url("../images/blob-scene-haikei.svg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 436px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 86px;
  margin: 126px auto 0;
}

.u-section-2 .u-text-1 {
  width: 583px;
  margin: 12px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 360px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 69px;
    margin-right: 69px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 82px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 173px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 52px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 120px;
}

.u-section-3 .u-image-1 {
  width: 233px;
  height: 70px;
  margin: 25px auto 0 504px;
}

.u-section-3 .u-image-2 {
  width: 155px;
  height: 47px;
  margin: -58px auto 0 761px;
}

.u-section-3 .u-image-3 {
  width: 224px;
  height: 42px;
  margin: -44px auto 39px 223px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-left: 389px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 685px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 101px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    margin-left: 387px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 465px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-left: 207px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 285px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    margin-left: 132px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 63px;
  }
} .u-section-4 {
  background-image: url("../images/layered-waves-haikei1.svg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 153px;
}

.u-section-4 .u-text-1 {
  margin: 37px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 126px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 97px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 73px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 46px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 444px;
}

.u-section-5 .u-image-1 {
  width: 514px;
  min-height: 159px;
  height: auto;
  background-image: url("../images/stacked-waves-haikei.svg");
  background-position: 50% 50%;
  margin: 47px auto 0 28px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-1 {
  margin: 0 auto 0 9px;
}

.u-section-5 .u-image-2 {
  width: 514px;
  min-height: 159px;
  height: auto;
  background-image: url("../images/stacked-waves-haikei1.svg");
  background-position: 50% 50%;
  margin: -159px auto 0 598px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-2 {
  margin: 0 auto 0 9px;
}

.u-section-5 .u-image-3 {
  width: 1084px;
  min-height: 159px;
  height: auto;
  background-image: url("../images/stacked-waves-haikei4.svg");
  background-position: 50% 50%;
  margin: 32px auto 47px;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-3 {
  margin: 0 79px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    margin-left: 14px;
    height: auto;
  }

  .u-section-5 .u-image-2 {
    margin-left: 413px;
    height: auto;
  }

  .u-section-5 .u-image-3 {
    width: 940px;
    margin-left: 413px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-2 {
    margin-left: 192px;
  }

  .u-section-5 .u-image-3 {
    width: 720px;
    margin-left: 192px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    width: 540px;
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    width: 340px;
    margin-right: 0;
  }
} .u-section-6 {
  background-image: url("../images/layered-waves-haikei1.svg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 153px;
}

.u-section-6 .u-text-1 {
  margin: 37px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 126px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 97px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 73px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 46px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 382px;
}

.u-section-7 .u-icon-1 {
  width: 35px;
  height: 35px;
  margin: 37px auto 0;
  padding: 0;
}

.u-section-7 .u-text-1 {
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  margin: 0 auto;
}

.u-section-7 .u-group-1 {
  width: 499px;
  box-shadow: 5px 5px 40px 0px rgba(0,0,0,0.1);
  min-height: 152px;
  height: auto;
  margin: 36px auto 51px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-text-3 {
  margin: 29px auto 0 0;
}

.u-section-7 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-icon-2 {
  width: 29px;
  height: 29px;
  margin: 13px 8px 0 auto;
  padding: 0;
}

.u-section-7 .u-text-5 {
  margin: -29px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-icon-1 {
    margin-top: 12px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 382px;
}

.u-section-8 .u-icon-1 {
  width: 35px;
  height: 35px;
  margin: 37px auto 0;
  padding: 0;
}

.u-section-8 .u-text-1 {
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  margin: 0 auto;
}

.u-section-8 .u-group-1 {
  width: 499px;
  box-shadow: 5px 5px 40px 0px rgba(0,0,0,0.1);
  min-height: 152px;
  height: auto;
  margin: 36px auto 51px;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-8 .u-text-3 {
  margin: 29px auto 0 0;
}

.u-section-8 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-icon-2 {
  width: 29px;
  height: 29px;
  margin: 13px 8px 0 auto;
  padding: 0;
}

.u-section-8 .u-text-5 {
  margin: -29px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-icon-1 {
    margin-top: 12px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-group-1 {
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 382px;
}

.u-section-9 .u-icon-1 {
  width: 35px;
  height: 35px;
  margin: 37px auto 0;
  padding: 0;
}

.u-section-9 .u-text-1 {
  margin: 0 auto;
}

.u-section-9 .u-text-2 {
  margin: 0 auto;
}

.u-section-9 .u-group-1 {
  width: 499px;
  box-shadow: 5px 5px 40px 0px rgba(0,0,0,0.1);
  min-height: 152px;
  height: auto;
  margin: 36px auto 51px;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-9 .u-text-3 {
  margin: 29px auto 0 0;
}

.u-section-9 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-9 .u-icon-2 {
  width: 29px;
  height: 29px;
  margin: 13px 8px 0 auto;
  padding: 0;
}

.u-section-9 .u-text-5 {
  margin: -29px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-icon-1 {
    margin-top: 12px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-9 .u-group-1 {
    width: 340px;
  }
}