.u-section-1 .u-sheet-1 {
  min-height: 552px;
}

.u-section-1 .u-image-1 {
  width: 220px;
  height: 220px;
  margin: 90px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  margin: 30px auto 60px;
}