 .u-section-1 {
  background-image: url("images/blurry-gradient-haikei.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 328px;
}

.u-section-1 .u-text-1 {
  line-height: 1.1;
  font-weight: 900;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-style: italic;
  margin: 101px auto 0 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 270px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 207px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 98px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 362px;
}

.u-section-2 .u-group-elements-1 {
  width: 785px;
  min-height: 82px;
  height: auto;
  margin: 40px auto 0;
}

.u-section-2 .u-text-1 {
  line-height: 1.1;
  font-size: 2.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 800;
  font-style: italic;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.5625rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 8px auto 0;
}

.u-section-2 .u-text-3 {
  font-style: normal;
  margin: 40px 70px;
}

@media (max-width: 991px) {
  .u-section-2 .u-group-elements-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 493px;
}

.u-section-3 .u-group-elements-1 {
  width: 785px;
  min-height: 82px;
  height: auto;
  margin: 41px auto 0 178px;
}

.u-section-3 .u-text-1 {
  line-height: 1.1;
  font-size: 2.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 800;
  font-style: italic;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 1.5625rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 8px auto 0;
}

.u-section-3 .u-group-1 {
  width: 937px;
  min-height: 289px;
  height: auto;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 41px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-map-1 {
  width: 570px;
  height: 228px;
  margin: 1px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 2.25rem;
  margin: -208px auto 0 611px;
}

.u-section-3 .u-text-4 {
  font-weight: 500;
  margin: 7px auto 0 611px;
}

.u-section-3 .u-text-5 {
  font-weight: 500;
  margin: 0 auto 0 611px;
}

.u-section-3 .u-text-6 {
  font-weight: 500;
  margin: 0 auto 0 611px;
}

.u-section-3 .u-text-7 {
  font-weight: 500;
  margin: -1px auto 0 611px;
}

.u-section-3 .u-text-8 {
  font-weight: 500;
  margin: 0 auto 0 611px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-elements-1 {
    margin-left: 155px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 460px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 460px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 460px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 460px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 460px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 460px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-map-1 {
    width: 520px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 362px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 362px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 362px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 362px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 362px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 362px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-map-1 {
    width: 320px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 223px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 223px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 223px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 223px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 223px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 223px;
  }
}

.u-section-3 .u-group-1,
.u-section-3 .u-group-1:before,
.u-section-3 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-1.u-group-1.u-group-1:hover {
  transform: scale(1.02) !important;
}

.u-section-3 .u-group-1.u-group-1.u-group-1.hover {
  transform: scale(1.02) !important;
}

.u-section-3 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-4 .u-sheet-1 {
  min-height: 939px;
}

.u-section-4 .u-group-elements-1 {
  width: 785px;
  min-height: 82px;
  height: auto;
  margin: 41px auto 0;
}

.u-section-4 .u-text-1 {
  line-height: 1.1;
  font-size: 2.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 800;
  font-style: italic;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 1.5625rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 8px auto 0;
}

.u-section-4 .u-image-1 {
  width: 370px;
  min-height: 243px;
  height: auto;
  transition-duration: 0.5s;
  background-image: url("images/blurry-gradient-haikei8.png");
  background-position: 50% 50%;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 139px auto 0 -25px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 196px;
  height: 196px;
  margin: -79px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 14px auto 0 55px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 13px auto 0;
}

.u-section-4 .u-image-3 {
  min-height: 244px;
  height: auto;
  transition-duration: 0.5s;
  width: 370px;
  background-image: url("images/blurry-gradient-haikei7.png");
  background-position: 50% 50%;
  margin: -244px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-4 {
  width: 196px;
  height: 196px;
  margin: -79px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 14px auto 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 13px auto 0;
}

.u-section-4 .u-image-5 {
  min-height: 243px;
  height: auto;
  transition-duration: 0.5s;
  width: 370px;
  background-image: url("images/blurry-gradient-haikei6.png");
  background-position: 50% 50%;
  margin: -244px auto 0 795px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-6 {
  width: 196px;
  height: 196px;
  margin: -79px auto 0;
}

.u-section-4 .u-text-7 {
  margin: 17px 112px 0 auto;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 9px auto 0;
}

.u-section-4 .u-image-7 {
  min-height: 243px;
  height: auto;
  transition-duration: 0.5s;
  width: 370px;
  background-image: url("images/blurry-gradient-haikei5.png");
  background-position: 50% 50%;
  margin: 139px auto 0 -25px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-image-8 {
  width: 196px;
  height: 196px;
  margin: -79px auto 0;
}

.u-section-4 .u-text-9 {
  margin: 16px 136px 0 auto;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 10px auto 0;
}

.u-section-4 .u-image-9 {
  min-height: 243px;
  height: auto;
  transition-duration: 0.5s;
  width: 370px;
  background-image: url("images/blurry-gradient-haikei8.png");
  background-position: 50% 50%;
  margin: -243px auto 53px 385px;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-image-10 {
  width: 196px;
  height: 196px;
  margin: -79px auto 0;
}

.u-section-4 .u-text-11 {
  margin: 16px 142px 0 auto;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 10px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    margin-left: -12px;
    height: auto;
  }

  .u-section-4 .u-image-3 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin-left: 298px;
    height: auto;
  }

  .u-section-4 .u-image-5 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin-left: 583px;
    height: auto;
  }

  .u-section-4 .u-image-7 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin-left: -12px;
    height: auto;
  }

  .u-section-4 .u-image-9 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    margin-left: 298px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-elements-1 {
    width: 720px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 188px;
  }

  .u-section-4 .u-image-5 {
    margin-left: 363px;
  }

  .u-section-4 .u-image-9 {
    margin-left: 188px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 98px;
  }

  .u-section-4 .u-image-5 {
    margin-left: 183px;
  }

  .u-section-4 .u-image-9 {
    margin-left: 98px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 106px;
  }

  .u-section-4 .u-image-5 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-7 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-right: 125px;
  }

  .u-section-4 .u-image-9 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-right: 130px;
  }
}

.u-section-4 .u-image-1,
.u-section-4 .u-image-1:before,
.u-section-4 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.02) !important;
}

.u-section-4 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.02) !important;
}

.u-section-4 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-image-3,
.u-section-4 .u-image-3:before,
.u-section-4 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.02) !important;
}

.u-section-4 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.02) !important;
}

.u-section-4 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-image-5,
.u-section-4 .u-image-5:before,
.u-section-4 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-5.u-image-5.u-image-5:hover {
  transform: scale(1.02) !important;
}

.u-section-4 .u-image-5.u-image-5.u-image-5.hover {
  transform: scale(1.02) !important;
}

.u-section-4 .u-container-layout:hover .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-image-7,
.u-section-4 .u-image-7:before,
.u-section-4 .u-image-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-7.u-image-7.u-image-7:hover {
  transform: scale(1.02) !important;
}

.u-section-4 .u-image-7.u-image-7.u-image-7.hover {
  transform: scale(1.02) !important;
}

.u-section-4 .u-container-layout:hover .u-image-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-image-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-image-9,
.u-section-4 .u-image-9:before,
.u-section-4 .u-image-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-9.u-image-9.u-image-9:hover {
  transform: scale(1.02) !important;
}

.u-section-4 .u-image-9.u-image-9.u-image-9.hover {
  transform: scale(1.02) !important;
}

.u-section-4 .u-container-layout:hover .u-image-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-image-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-5 .u-sheet-1 {
  min-height: 888px;
}

.u-section-5 .u-group-elements-1 {
  width: 785px;
  min-height: 82px;
  height: auto;
  margin: 49px auto 0;
}

.u-section-5 .u-text-1 {
  line-height: 1.1;
  font-size: 2.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 800;
  font-style: italic;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-size: 1.5625rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 8px auto 0;
}

.u-section-5 .u-text-3 {
  font-style: normal;
  margin: 30px auto 0;
}

.u-section-5 .u-group-1 {
  width: 570px;
  min-height: 196px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 -18px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-text-4 {
  margin: 12px auto 0 136px;
}

.u-section-5 .u-icon-1 {
  width: 79px;
  height: 79px;
  margin: -11px auto 0 42px;
  padding: 0;
}

.u-section-5 .u-text-5 {
  margin: -67px 49px 0 auto;
}

.u-section-5 .u-group-2 {
  min-height: 196px;
  width: 570px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -196px -22px 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-text-6 {
  margin: 12px auto 0 136px;
}

.u-section-5 .u-icon-2 {
  width: 79px;
  height: 79px;
  margin: -11px auto 0 42px;
  padding: 0;
}

.u-section-5 .u-text-7 {
  margin: -67px 57px 0 auto;
}

.u-section-5 .u-group-3 {
  min-height: 196px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 570px;
  margin: 27px auto 0 -18px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-5 .u-text-8 {
  margin: 12px auto 0 136px;
}

.u-section-5 .u-icon-3 {
  width: 79px;
  height: 79px;
  margin: -11px auto 0 42px;
  padding: 0;
}

.u-section-5 .u-text-9 {
  margin: -67px 56px 0 auto;
}

.u-section-5 .u-group-4 {
  min-height: 196px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 570px;
  margin: -196px -22px 60px auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-10 {
  margin: 12px auto 0 106px;
}

.u-section-5 .u-icon-4 {
  width: 79px;
  height: 79px;
  margin: -11px auto 0 12px;
  padding: 0;
}

.u-section-5 .u-text-11 {
  margin: -67px 13px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-group-2 {
    height: auto;
  }

  .u-section-5 .u-group-3 {
    height: auto;
  }

  .u-section-5 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-elements-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-5 .u-group-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-5 .u-group-3 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-5 .u-group-4 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 86px;
  }

  .u-section-5 .u-group-2 {
    width: 340px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 86px;
  }

  .u-section-5 .u-group-3 {
    width: 340px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 86px;
  }

  .u-section-5 .u-group-4 {
    width: 340px;
  }
}