.u-block-8512-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-8512-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -17px);
  width: 35px;
  height: 35px;
  right: auto;
}

.u-block-8512-4 {
  position: absolute;
  width: 35px;
  height: 35px;
  left: auto;
  right: calc(((100% - 1140px) / 2)  + -17px);
}

@media (max-width: 1199px) {
  .u-block-8512-3 {
    left: calc(((100% - 940px) / 2)  + -14px);
  }

  .u-block-8512-4 {
    right: calc(((100% - 940px) / 2)  + -14px);
  }
}

@media (max-width: 991px) {
  .u-block-8512-3 {
    left: calc(((100% - 720px) / 2)  + -11px);
  }

  .u-block-8512-4 {
    right: calc(((100% - 720px) / 2)  + -11px);
  }
}

@media (max-width: 767px) {
  .u-block-8512-3 {
    left: calc(((100% - 540px) / 2)  + -8px);
  }

  .u-block-8512-4 {
    right: calc(((100% - 540px) / 2)  + -8px);
  }
}

@media (max-width: 575px) {
  .u-block-8512-3 {
    left: calc(((100% - 340px) / 2)  + -5px);
  }

  .u-block-8512-4 {
    right: calc(((100% - 340px) / 2)  + -5px);
  }
}

 .u-section-1-1 {
  background-image: url("images/stacked-waves-haikei4.svg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 625px;
}

.u-section-1-1 .u-image-1 {
  width: 897px;
  height: 136px;
  margin: 60px auto 0;
}

.u-section-1-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 14px auto 0;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-1-1 .u-image-1 {
    width: 720px;
    height: 109px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-1-1 .u-image-1 {
    width: 540px;
    height: 82px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-1-1 .u-image-1 {
    width: 340px;
    height: 52px;
  }
}

 .u-section-1-2 {
  background-image: url("images/blob-scene-haikei1.svg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 625px;
}

.u-section-1-2 .u-image-1 {
  width: 1005px;
  height: 110px;
  margin: 186px auto 0;
}

.u-section-1-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 14px auto 0;
}

.u-section-1-2 .u-btn-1 {
  background-image: none;
  margin: 14px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-1-2 .u-image-1 {
    width: 940px;
    height: 103px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-1-2 .u-image-1 {
    width: 720px;
    height: 79px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-1-2 .u-image-1 {
    width: 540px;
    height: 59px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-1-2 .u-image-1 {
    width: 340px;
    height: 37px;
  }
}

 .u-section-1-3 {
  background-image: url("images/blob-scene-haikei1.svg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 625px;
}

.u-section-1-3 .u-image-1 {
  width: 902px;
  height: 136px;
  margin: 60px auto 0;
}

.u-section-1-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 14px auto 0;
}

.u-section-1-3 .u-btn-1 {
  background-image: none;
  margin: 14px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-1-3 .u-image-1 {
    width: 720px;
    height: 109px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-1-3 .u-image-1 {
    width: 540px;
    height: 82px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-1-3 .u-image-1 {
    width: 340px;
    height: 52px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 359px;
}

.u-section-2 .u-text-1 {
  margin: 41px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 0 auto;
}

.u-section-2 .u-image-1 {
  min-height: 167px;
  height: auto;
  margin-top: 34px;
  margin-bottom: 46px;
  background-image: url("images/layered-waves-haikei1.svg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-3 {
  margin: 32px 502px 0 0;
}

.u-section-2 .u-text-4 {
  margin: -1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    height: auto;
  }

  .u-section-2 .u-text-3 {
    margin-right: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 37px;
    margin-right: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-right: auto;
    margin-left: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 189px;
    margin-top: 24px;
    margin-bottom: 23px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 903px;
}

.u-section-3 .u-text-1 {
  margin: 47px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 0 auto;
}

.u-section-3 .u-group-1 {
  box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.1);
  min-height: 213px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-3 .u-image-1 {
  width: 346px;
  height: 52px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 12px 0 0;
}

.u-section-3 .u-btn-1 {
  margin: 21px auto 0 0;
  padding: 4px 16px 5px 14px;
}

.u-section-3 .u-group-2 {
  box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.1);
  min-height: 213px;
  height: auto;
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-3 .u-image-2 {
  width: 406px;
  height: 52px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 12px 0 0;
}

.u-section-3 .u-btn-2 {
  margin: 21px auto 0 0;
  padding: 4px 16px 5px 14px;
}

.u-section-3 .u-group-3 {
  box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.1);
  min-height: 213px;
  height: auto;
  margin-top: 21px;
  margin-bottom: 60px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-3 .u-image-3 {
  width: 406px;
  height: 61px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: 12px 0 0;
}

.u-section-3 .u-btn-3 {
  margin: 21px auto 0 0;
  padding: 4px 16px 5px 14px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 320px;
    height: 48px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 320px;
    height: 41px;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    width: 320px;
    height: 48px;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 609px;
}

.u-section-4 .u-text-1 {
  margin: 47px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 0 auto;
}

.u-section-4 .u-group-1 {
  width: 555px;
  box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.1);
  min-height: 192px;
  height: auto;
  margin: 30px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-3 {
  margin: 43px auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-group-2 {
  width: 555px;
  box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.1);
  min-height: 192px;
  height: auto;
  margin: -190px 0 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-5 {
  margin: 29px auto 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-4 .u-group-3 {
  box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.1);
  min-height: 192px;
  height: auto;
  margin-top: 28px;
  margin-bottom: 47px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-7 {
  margin: 57px auto 0 0;
}

.u-section-4 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    margin-left: 17px;
    height: auto;
  }

  .u-section-4 .u-group-2 {
    margin-left: 417px;
    height: auto;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-2 {
    margin-left: 197px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-2 {
    width: 540px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-2 {
    width: 340px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }
}