.u-section-1 .u-sheet-1 {
  min-height: 77px;
}

.u-section-1 .u-image-1 {
  width: 271px;
  height: 41px;
  margin: 18px auto 0 0;
}

.u-section-1 .u-btn-1 {
  margin: -41px 0 18px auto;
  padding: 7px 30px 8px;
} .u-section-2 {
  background-image: url("../images/layered-waves-haikei6.svg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 436px;
}

.u-section-2 .u-image-1 {
  width: 572px;
  height: 86px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-1 {
  width: 583px;
  margin: 12px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 360px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 69px;
    margin-right: 69px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 82px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 173px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 52px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 576px;
}

.u-section-3 .u-text-1 {
  margin: 41px auto 0 324px;
}

.u-section-3 .u-text-2 {
  margin: 0 auto 0 400px;
}

.u-section-3 .u-gallery-1 {
  height: 375px;
  margin-top: 30px;
  margin-bottom: 59px;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 50px;
  height: 50px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 50px;
  height: 50px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 267px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-left: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 205px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 154px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 42px;
    margin-left: 24px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 7px;
    margin-left: 19px;
    margin-right: 19px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 464px;
}

.u-section-4 .u-text-1 {
  margin: 41px auto 0;
}

.u-section-4 .u-text-2 {
  width: 479px;
  margin: 0 auto;
}

.u-section-4 .u-group-1 {
  width: 236px;
  box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.1);
  min-height: 271px;
  height: auto;
  margin: 41px auto 0 314px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 21px;
}

.u-section-4 .u-image-1 {
  height: 176px;
  width: 176px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: -25px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  margin: 9px auto 0;
}

.u-section-4 .u-group-2 {
  width: 236px;
  box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.1);
  min-height: 271px;
  height: auto;
  margin: -271px auto 41px 591px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 21px;
}

.u-section-4 .u-image-2 {
  height: 176px;
  width: 176px;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: -25px auto 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  font-size: 1.125rem;
  margin: 9px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-left: 330px;
  }

  .u-section-4 .u-group-1 {
    margin-left: 214px;
    height: auto;
  }

  .u-section-4 .u-group-2 {
    margin-left: 491px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-left: 253px;
  }

  .u-section-4 .u-group-1 {
    margin-left: 157px;
  }

  .u-section-4 .u-group-2 {
    margin-left: 327px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-left: 190px;
  }

  .u-section-4 .u-group-1 {
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-2 {
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 197px;
}

.u-section-5 .u-text-1 {
  margin: 25px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 0 auto;
}

.u-section-5 .u-btn-1 {
  margin: 14px auto 42px;
}