 .u-section-1 {
  background-image: url("../images/layered-waves-haikei8.svg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 328px;
}

.u-section-1 .u-text-1 {
  margin: 96px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 270px;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-text-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 207px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 98px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 134px;
}

.u-section-2 .u-group-elements-1 {
  width: 785px;
  min-height: 44px;
  height: auto;
  margin: 34px auto 34px 20px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 218px;
}

.u-section-3 .u-group-elements-1 {
  width: 785px;
  min-height: 53px;
  height: auto;
  margin: 34px auto 0 18px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-style: normal;
  margin: 20px auto 34px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 218px;
}

.u-section-4 .u-group-elements-1 {
  width: 785px;
  min-height: 53px;
  height: auto;
  margin: 34px auto 0 18px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-style: normal;
  margin: 20px auto 34px 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 218px;
}

.u-section-5 .u-group-elements-1 {
  width: 785px;
  min-height: 53px;
  height: auto;
  margin: 34px auto 0 18px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-style: normal;
  margin: 20px auto 34px 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 134px;
}

.u-section-6 .u-group-elements-1 {
  width: 785px;
  min-height: 44px;
  height: auto;
  margin: 34px auto 34px 20px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 218px;
}

.u-section-7 .u-group-elements-1 {
  width: 785px;
  min-height: 53px;
  height: auto;
  margin: 34px auto 0 18px;
}

.u-section-7 .u-text-1 {
  margin: 0;
}

.u-section-7 .u-text-2 {
  font-style: normal;
  margin: 20px auto 34px 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 134px;
}

.u-section-8 .u-group-elements-1 {
  width: 785px;
  min-height: 44px;
  height: auto;
  margin: 34px auto 34px 20px;
}

.u-section-8 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 218px;
}

.u-section-9 .u-group-elements-1 {
  width: 785px;
  min-height: 53px;
  height: auto;
  margin: 34px auto 0 18px;
}

.u-section-9 .u-text-1 {
  margin: 0;
}

.u-section-9 .u-text-2 {
  font-style: normal;
  margin: 20px auto 34px 20px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 218px;
}

.u-section-10 .u-group-elements-1 {
  width: 785px;
  min-height: 53px;
  height: auto;
  margin: 34px auto 0 18px;
}

.u-section-10 .u-text-1 {
  margin: 0;
}

.u-section-10 .u-text-2 {
  font-style: normal;
  margin: 20px auto 34px 20px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 134px;
}

.u-section-11 .u-group-elements-1 {
  width: 785px;
  min-height: 44px;
  height: auto;
  margin: 34px auto 34px 20px;
}

.u-section-11 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 271px;
}

.u-section-12 .u-group-elements-1 {
  width: 785px;
  min-height: 105px;
  height: auto;
  margin: 34px auto 0 20px;
}

.u-section-12 .u-text-1 {
  margin: 0;
}

.u-section-12 .u-text-2 {
  font-style: normal;
  margin: 20px auto 34px 20px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-12 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 134px;
}

.u-section-13 .u-group-elements-1 {
  width: 785px;
  min-height: 44px;
  height: auto;
  margin: 34px auto 34px 20px;
}

.u-section-13 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 245px;
}

.u-section-14 .u-group-elements-1 {
  width: 785px;
  min-height: 105px;
  height: auto;
  margin: 34px auto 0 20px;
}

.u-section-14 .u-text-1 {
  margin: 0;
}

.u-section-14 .u-text-2 {
  font-style: normal;
  margin: -34px 20px 34px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-14 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-14 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 134px;
}

.u-section-15 .u-group-elements-1 {
  width: 785px;
  min-height: 44px;
  height: auto;
  margin: 34px auto 34px 20px;
}

.u-section-15 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-15 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 303px;
}

.u-section-16 .u-group-elements-1 {
  width: 785px;
  min-height: 53px;
  height: auto;
  margin: 34px auto 0 20px;
}

.u-section-16 .u-text-1 {
  margin: 0;
}

.u-section-16 .u-text-2 {
  font-style: normal;
  margin: 18px 20px 34px;
}

@media (max-width: 1199px) {
  .u-section-16 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-16 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-16 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-17 .u-sheet-1 {
  min-height: 134px;
}

.u-section-17 .u-group-elements-1 {
  width: 785px;
  min-height: 44px;
  height: auto;
  margin: 34px auto 34px 20px;
}

.u-section-17 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-17 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-18 .u-sheet-1 {
  min-height: 303px;
}

.u-section-18 .u-group-elements-1 {
  width: 785px;
  min-height: 53px;
  height: auto;
  margin: 34px auto 0 20px;
}

.u-section-18 .u-text-1 {
  margin: 0;
}

.u-section-18 .u-text-2 {
  font-style: normal;
  margin: 18px 20px 34px;
}

@media (max-width: 1199px) {
  .u-section-18 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-18 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-18 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-18 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-18 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-18 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-19 .u-sheet-1 {
  min-height: 134px;
}

.u-section-19 .u-group-elements-1 {
  width: 785px;
  min-height: 44px;
  height: auto;
  margin: 34px auto 34px 20px;
}

.u-section-19 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-19 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-19 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-19 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-19 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-20 .u-sheet-1 {
  min-height: 303px;
}

.u-section-20 .u-group-elements-1 {
  width: 785px;
  min-height: 53px;
  height: auto;
  margin: 34px auto 0 20px;
}

.u-section-20 .u-text-1 {
  margin: 0;
}

.u-section-20 .u-text-2 {
  font-style: normal;
  margin: 18px 20px 34px;
}

@media (max-width: 1199px) {
  .u-section-20 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-20 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-20 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-20 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-20 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-20 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-21 .u-sheet-1 {
  min-height: 134px;
}

.u-section-21 .u-group-elements-1 {
  width: 785px;
  min-height: 44px;
  height: auto;
  margin: 34px auto 34px 20px;
}

.u-section-21 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-21 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-21 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-21 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-21 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-22 .u-sheet-1 {
  min-height: 303px;
}

.u-section-22 .u-group-elements-1 {
  width: 785px;
  min-height: 53px;
  height: auto;
  margin: 34px auto 0 20px;
}

.u-section-22 .u-text-1 {
  margin: 0;
}

.u-section-22 .u-text-2 {
  font-style: normal;
  margin: 18px 20px 34px;
}

@media (max-width: 1199px) {
  .u-section-22 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-22 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-22 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-22 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-22 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-22 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-23 .u-sheet-1 {
  min-height: 134px;
}

.u-section-23 .u-group-elements-1 {
  width: 785px;
  min-height: 44px;
  height: auto;
  margin: 34px auto 34px 20px;
}

.u-section-23 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-23 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-23 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-23 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-23 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-24 .u-sheet-1 {
  min-height: 303px;
}

.u-section-24 .u-group-elements-1 {
  width: 785px;
  min-height: 53px;
  height: auto;
  margin: 34px auto 0 20px;
}

.u-section-24 .u-text-1 {
  margin: 0;
}

.u-section-24 .u-text-2 {
  font-style: normal;
  margin: 18px 20px 34px;
}

@media (max-width: 1199px) {
  .u-section-24 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-24 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-24 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-24 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-24 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-24 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-25 .u-sheet-1 {
  min-height: 134px;
}

.u-section-25 .u-group-elements-1 {
  width: 785px;
  min-height: 44px;
  height: auto;
  margin: 34px auto 34px 20px;
}

.u-section-25 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-25 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-25 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-25 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-25 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-26 .u-sheet-1 {
  min-height: 299px;
}

.u-section-26 .u-group-elements-1 {
  width: 785px;
  min-height: 53px;
  height: auto;
  margin: 34px auto 0 20px;
}

.u-section-26 .u-text-1 {
  margin: 0;
}

.u-section-26 .u-text-2 {
  font-style: normal;
  margin: 20px 20px 34px;
}

.u-section-26 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-26 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-26 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-26 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-26 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-26 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-26 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-27 .u-sheet-1 {
  min-height: 134px;
}

.u-section-27 .u-group-elements-1 {
  width: 785px;
  min-height: 44px;
  height: auto;
  margin: 34px auto 34px 20px;
}

.u-section-27 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-27 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-27 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-27 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-27 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-28 .u-sheet-1 {
  min-height: 299px;
}

.u-section-28 .u-group-elements-1 {
  width: 785px;
  min-height: 53px;
  height: auto;
  margin: 34px auto 0 20px;
}

.u-section-28 .u-text-1 {
  margin: 0;
}

.u-section-28 .u-text-2 {
  font-style: normal;
  margin: 20px 20px 34px;
}

@media (max-width: 1199px) {
  .u-section-28 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-28 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-28 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-28 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-28 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-28 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-29 .u-sheet-1 {
  min-height: 134px;
}

.u-section-29 .u-group-elements-1 {
  width: 785px;
  min-height: 44px;
  height: auto;
  margin: 34px auto 34px 20px;
}

.u-section-29 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-29 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-29 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-29 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-29 .u-group-elements-1 {
    width: 340px;
  }
}.u-section-30 .u-sheet-1 {
  min-height: 299px;
}

.u-section-30 .u-group-elements-1 {
  width: 785px;
  min-height: 53px;
  height: auto;
  margin: 34px auto 0 20px;
}

.u-section-30 .u-text-1 {
  margin: 0;
}

.u-section-30 .u-text-2 {
  font-style: normal;
  margin: 20px 20px 34px;
}

@media (max-width: 1199px) {
  .u-section-30 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-30 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-30 .u-group-elements-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-30 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-30 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-30 .u-group-elements-1 {
    width: 340px;
  }
}